body{
    margin: 0px;
    padding: 0px; 
}

.calculator{
    display:  flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    
}

.Buttons{
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(5, 70px);
    gap: 20px;
    min-height: 50vh;
    padding: 15px;
    font-size: 20px;


}

.Buttons > button{
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    background-color: rbga(255, 255, 255, 0.75);
    font-weight: bold;
    font-size: 1rem;
    
}
.Buttons > button:hover {   
    background-color: #a9a9a9;

}
.display-portion{
    /* margin-top: 15px; */
    border: 2px solid black;
}

.display-result {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border: 1px solid;
    height: 130px;
}
.previous-operand , .current-operand{
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;

}